.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 75%;
  background-color: hsl(246, 11%, 90%);
  padding: 1rem;
  border-radius: 30px;
}

.Switch {
  margin-top: 1rem;
  background-color: hsl(210, 28%, 70%);
  padding: 1rem;
  border-radius: 30px;
}

.Stateful {
  margin-top: 1rem;
  background-color: hsl(173, 77%, 70%);
  padding: 1rem;
  border-radius: 30px;
}

.User {
  margin-top: 1rem;
  background-color: hsl(134, 56%, 70%);
  padding: 1rem;
  border-radius: 30px;
}

.TodoList {
  margin-top: 1rem;
  background-color: hsl(89, 46%, 70%);
  padding: 1rem;
  border-radius: 30px;
}

.Panel-ActionBar {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.Switch-Actions {
  display: flex;
  flex-direction: column;
}

.Switch-CurrentPosition {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.TodoList-List {
  list-style-type: none;
  padding: 0;
}

.TodoList-ListItem {
  margin-top: 1rem;
  background-color: hsl(89, 46%, 50%);
  padding: 1rem;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}
.TodoList-ListItemId {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.TodoList-ListItemTitle,
.TodoList-ListItemDescription {
  padding: 5px;
  border-radius: 10px;
}
.TodoList-ListItemTitle input,
.TodoList-ListItemDescription input {
  margin-left: 0.5rem;
}
.TodoList-ListItemDescription-modified {
  background-color: red;
}
